<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artist</title>
</head>

<body>


    <h2>ID: {{.Liji.Id}}</h2>
    <h3>Locations:</h3>

    <ul>
        {{range .Liji.Locations}}
        <li>{{.}}</li>

        {{end}}
    </ul>


    <hr>

    <!-- <h2>Artist ID: {{.Laja.Id}}</h2> -->
    <h2>Name: {{.Laja.Name}}</h2>
    <img src="{{.Laja.Image}}" alt="{{.Laja.Name}}" width="300">

    <h3>Members:</h3>
    <ul>
        {{range .Laja.Members}}
            <li>{{.}}</li>
        {{end}}
    </ul>

    <h2>Year Created: {{.Laja.CreationDate}}</h2>
    <h2>First Album: {{.Laja.FirstAlbum}}</h2>
   <a href="home.html"><button><h1>HOME</h1></button></a>

</body>

</html>